/* inspired by scratch-gui */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--ui-modal-overlay);
  z-index: var(--z-index-modal);
}

.modal-content {
  margin: 100px auto;
  outline: none;
  border: 4px solid var(--ui-white-transparent);
  padding: 0;
  border-radius: var(--space);
  color: var(--text-primary);
  overflow: hidden;
  user-select: none;
}

.modal-content.full-screen {
  position: absolute;

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  overflow-y: auto;
  user-select: none;

  background: var(--ui-secondary);

  /* Default modal resets */
  margin: 0;
  border: none;
  border-radius: 0;
}

.modal-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: var(--library-header-height);
  box-sizing: border-box;
  width: 100%;
  background: var(--ui-modal-overlay);
  font-size: 1rem;
}

.electron {
  padding-left: 58px;
}

.header-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  color: var(--ui-white);
  user-select: none;
}

.header-item-title {
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  user-select: none;
  letter-spacing: 0.4px;
  cursor: default;
  margin: 0 -20rem 0 0;
  font-size: 1rem;
  font-weight: normal;
}

.full-screen .header-item-title {
  margin: 0 0 0 -20rem;
}

.header-item-close {
  flex-basis: 20rem;
  justify-content: flex-end;
  z-index: 1;
}

.header-item-back {
  flex-basis: 20rem;
  justify-content: flex-start;
  z-index: 1;
  order: -1;
}

.close-button {
  background: var(--ui-black-transparent);
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--ui-black-transparent);
  width: 1.75rem;
  height: 1.75rem;
  padding: 0;
  transition: all 0.15s ease-out;
}

.close-button:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0px 0px 0px 4px var(--ui-black-transparent);
}

.close-button img {
  margin: 0 auto;
}

.back-button {
  border: 0;
  background: transparent;
  padding: 0;
  color: var(--ui-white);
  white-space: nowrap;
  font-size: 1rem;
  font-weight: normal;
}

.back-button img {
  height: 1.5rem;
  margin-right: 0.5rem;
}
