.spinner {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  border-width: 0.1875rem;
  border-style: solid;
  border-color: var(--ui-white-transparent);
  box-sizing: content-box !important;
}

.spinner::before,
.spinner::after {
  width: 1.25rem;
  height: 1.25rem;
  content: '';
  border-radius: 50%;
  display: block;
}

.spinner::after {
  position: absolute;
  top: -0.1875rem;
  left: -0.1875rem;
  border: 0.1875rem solid transparent;
  border-top-color: var(--ui-white);
  animation: spin 1.5s cubic-bezier(0.4, 0.1, 0.4, 1) infinite;
}

.small {
  width: 0.5rem;
  height: 0.5rem;
}

.small::before,
.small::after {
  width: 0.5rem;
  height: 0.5rem;
}

.large {
  width: 2.5rem;
  height: 2.5rem;
}

.large::before,
.large::after {
  width: 2.5rem;
  height: 2.5rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner.success {
  border-color: var(--extensions-transparent);
}

.spinner.success::after {
  border-top-color: var(--extensions-primary);
}

.spinner.warn {
  border-color: var(--error-transparent);
}

.spinner.warn::after {
  border-top-color: var(--error-primary);
}

.spinner.info {
  border-color: var(--ui-white-transparent);
}
.spinner.info::after {
  border-top-color: var(--ui-white);
}

.spinner.primary {
  border-color: var(--motion-transparent);
}
.spinner.primary::after {
  border-top-color: var(--motion-primary);
}
