/* inspired by scratch-gui */
.library-scroll-grid {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  background: var(--ui-secondary);
  flex-grow: 1;
  flex-wrap: wrap;
  overflow-y: auto;
  height: auto;
  padding: 0.5rem;
  height: calc(100% - var(--library-header-height));
}

.library-scroll-grid.withFilterBar {
  height: calc(100% - var(--library-header-height) - var(--library-filter-bar-height) - 2rem);
}

.filter-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: calc(var(--library-filter-bar-height) + 2rem); /* padding */
  background-color: var(--motion-transparent);
  padding: 0 1rem;
  font-size: 0.875rem;
}

.filter-bar-item {
  margin-right: 0.75rem;
}

.filter {
  flex-grow: 0;
}

.filter-input {
  width: 11.5rem;
  transition: 0.2s;
}

.filter-input:focus,
.filter-input:not([data-value='']) {
  width: 18.75rem;
}

.divider {
  transform: scaleY(1.39);
  height: var(--library-filter-bar-height);
  border-right: 1px dashed var(--ui-black-transparent);
  margin-right: 0.75rem;
}

.tag-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: var(--library-filter-bar-height);
  overflow: hidden;
}

.spinner-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
