.toggle-button {
  width: calc(2rem + 2px);
  height: calc(2rem + 2px);
  padding: 0.375rem !important;
  filter: saturate(0);
  margin-left: -1px;
}

.button-icon {
  margin: auto;
}

.toggle-button-first {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.toggle-button-middle {
  border-radius: 0;
}

.toggle-button-last {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.toggle-button-actived {
  border: 1px solid var(--drop-highlight);
  background: var(--motion-light-transparent);
  filter: none;
  z-index: 1;
}
